@using VacationSystem.HtmlHelpers
@using VacationSystem.Classes.Helpers;
@using VacationSystem.ViewModels.ListItems;

@{
    ViewData["Title"] = "Выбрать заместителя";

    string error = null;
    if (TempData["Error"] != null)
        error = TempData["Error"].ToString();

    List<EmpListItem> employees = ViewBag.Employees;
}

<div class="container">
    <div class="row">
        <div class="col-7">
            @Html.CheckError(error)
            <form method="post">
                <h3>Выберите подразделение</h3>
                <select id="department" name="department">
                    @foreach(var dep in @ViewBag.departments)
                    {
                        <option value="@dep.Id">@dep.Name</option>
                    }
                </select>
                <h3>Название группы:</h3>
                <input type="text" name="name" />
                <h3>Описание группы:</h3>
                <input type="text" size="3" name="description" />
                <h3>Выберите сотрудников</h3>
                <select multiple id="employees" name="Employee" size="@employees.Count()">
                    @foreach (var emp in employees)
                    {
                        <option value="@emp.EmpId">@emp.Name</option>
                    }
                </select>
                <input type="submit" class="btn btn-primary" value="Добавить" />
            </form>
        </div>
    </div>
</div>

@section scripts{
<script type="text/javascript">
    $(function () {
        $('#department').change(function()
        {
            // получаем выбранный id
            var id = $(this).val();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetGroupItems")/' + id,
                success: function (data) {
                    // заменяем содержимое присланным частичным представлением
                    $('#employees').replaceWith(data);
                }
            });
        });
    });
</script>
}