@model DepartmentViewModel
@using VacationSystem.ViewModels
@using VacationSystem.HtmlHelpers

@{
    ViewData["Title"] = "Информация о подразделении";

    string error = null;
    if (ViewBag.Error != null)
        error = ViewBag.Error;
    else if (TempData["Error"] != null)
        error = TempData["Error"].ToString();
}

<div class="container">
    <div class="row">
        <div class="col-7">
            @Html.CheckError(error) 
            @if (@Model != null)
            {
                <h2>@Model.Name</h2>
                @if (@Model.Head != null)
                {
                    <p>Руководитель:
                        @Model.Head.LastName @Model.Head.FirstName @Model.Head.MiddleName
                    </p>
                }
                @if (@Model.HeadDepartment != null)
                {
                    <p>Старшее подразделение: 
                        @Model.HeadDepartment.Name
                    </p>
                }
                <a asp-controller="Calendar" asp-action="Department" asp-route-id="@Model.Id" class="btn btn-primary">
                    Календарь отпусков
                </a>
                <a asp-controller="Head" asp-action="Employees" asp-route-depId="@Model.Id" class="btn btn-primary">
                    Список сотрудников
                </a>
                @if (@Model.ChildDepartments.Count > 0)
                {
                    <p>Младшие подразделения:</p>
                    @foreach(Department dep in @Model.ChildDepartments)
                    {
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">
                                    @dep.Name
                                </h5>
                            </div>
                        </div>
                    }
                }
            }
        </div>
    </div>
</div>



