@model EmpRuleViewModel

@using VacationSystem.ViewModels;
@using VacationSystem.HtmlHelpers;

@{
    ViewData["Title"] = "Информация о правиле для сотрудников";

    string error = null;
    if (TempData["Error"] != null)
        error = TempData["Error"].ToString();

    string message = null;
    if (TempData["Message"] != null)
        message = TempData["Message"].ToString();

    string success = null;
    if (TempData["Success"] != null)
        success = TempData["Success"].ToString();
}

<div class="container">
    <div class="row">
        <div class="col-7">
            @Html.CheckError(error)
            @Html.CheckMessage(message)
            @Html.CheckSuccess(success)
            <h3>@Model.Rule.Description</h3>
            <h4>Подразделение: @Model.Rule.Department.Name</h4>
            <h5>@Model.Rule.RuleType.Name</h5>
            <a asp-controller="Head" asp-action="EditEmpRule" asp-route-ruleId="@Model.Rule.Id" class="btn btn-primary">
                Редактировать
            </a>
            <a asp-controller="Head" asp-action="DeleteEmpRule" asp-route-ruleId="@Model.Rule.Id" class="btn btn-danger">
                Удалить
            </a>
            <h5>Сотрудники в правиле:</h5>
            @foreach(Employee emp in @Model.Employees)
            {
                <card>
                    <p>@emp.LastName @emp.FirstName @emp.MiddleName</p>
                </card>
            }
        </div>
    </div>
</div>