@using VacationSystem.ViewModels.ListItems;

@{
    Layout = "_Common";

    ViewData["Title"] = "Отпускные дни";

    List<EmpListItem> employees = ViewBag.Employees;
    List<VacationType> vacationTypes = ViewBag.Types;
}

<div class="container"> 
    <div class="row">
        <form method="post">
            <div class="col-md-4">
                <h3>Выберите подразделение</h3>
                <select id="department" name="department">
                    @foreach(var dep in @ViewBag.departments)
                    {
                        <option value="@dep.Id">@dep.Name</option>
                    }
                </select>
            </div>
            <div class="col-md-4">
                <h3>Выберите сотрудников</h3>
                <select multiple class="employee-list" name="employees" size="@employees.Count()">
                    @foreach (var emp in employees)
                    {
                        <option value="@emp.EmpId">@emp.Name</option>
                    }
                </select>
            </div>
            <h3>Год</h3>
            <input id="days-year" type="number" name="year" min="@DateTime.Now.Year" max="@DateTime.Now.AddYears(1).Year" value="@DateTime.Now.Year"/>
            <div id="days-info"></div>
            <input name="mode" type="radio" value="add" checked>Добавить
            <input name="mode" type="radio" value="delete">Удалить
            <h3>Выберите тип отпуска</h3>
            <select name="type">
                @foreach (var type in vacationTypes)
                {
                    <option value="@type.Id">@type.Name</option>
                }
            </select>
            <h3>Число дней</h3>
            <input type="number" name="number" min="0" max="365" value="0"/>
            <h3>Примечания</h3>
            <textarea name="notes"></textarea>
            <input type="submit" class="btn btn-primary" value="Добавить" />
        </form>
    </div>
</div>

@section scripts{
<script type="text/javascript">
    // изменение списка сотрудников в зависимости от
    // выбранного подразделения
    $(document).on('change', '#department', function() {
        // получаем выбранный id
        var id = $(this).val();
        $.ajax({
            type: 'GET',
            url: '@Url.Action("GetEmployeeItems")/' + id,
            success: function (data) {
                // заменяем содержимое присланным частичным представлением
                $('.employee-list').replaceWith(data);
            }
        });
    });

    // изменение года, если уже выбран сотрудник
    $(document).on('change', '#days-year', function () {
        // получить идентификатор сотрудника
        var id = $('.employee-list').val();
        // выбранный год
        var year = $('#days-year').val();

        // количество выбранных сотрудников
        var count = $('.employee-list :selected').length;

        // если выбран один сотрудник, есть смысл обновить данные об его отпусках
        if (count == 1)
        {
            $.ajax({
                type: 'GET',
                data: {
                    "id": id[0],
                    "year": year
                },
                url: '@Url.Action("GetDaysInfo")/',
                success: function (data) {
                    $('#days-info').replaceWith(data);
                }
            });
        }
    });

    // отображение информации о выбранном из списка сотруднике
    $(document).on('change', '.employee-list', function () {
        var id = $(this).val();

        var year = $('#days-year').val();
        
        var count = $('.employee-list :selected').length;
        if (count == 1)
        {
            $.ajax({
                type: 'GET',
                data: {
                    "id": id[0],
                    "year": year
                },
                url: '@Url.Action("GetDaysInfo")/',
                success: function (data) {
                    $('#days-info').replaceWith(data);
                }
            });
        }
    });
</script>
}