@using VacationSystem.ViewModels;

@{
    Layout = "_Common";

    ViewData["Title"] = "Изменение стиля управления";
}

<div id="edit-style" class="container">
    <div class="row">
        <div class="block-center col-md-5 col-sm-6 col-xs-10">
            <div id="login-background" class="content-background">
                <h3>Изменение стиля руководства</h3>
                <form method="post">
                    <p>Подразделение: @Model.Department.Name</p>
                    <select name="style" class="block-center">
                    @foreach (ManagementStyle style in Model.Styles)
                        {
                            <option value="@style.Id">@style.Name</option>
                        }
                    </select>
                    <input type="hidden" name="department" value="@Model.Department.Id" />
                    <input type="hidden" name="currentstyle" value="@Model.CurrentStyle" />
                    <input type="submit" value="Применить" class="btn btn-primary block-center"/>
                </form>
            </div>
        </div>
    </div>
</div>