@model List<HeadStyleViewModel>;

@using VacationSystem.HtmlHelpers;
@using VacationSystem.ViewModels;

@{
    ViewData["Title"] = "Стили управления";

    string error = null;
    if (TempData["Error"] != null)
        error = TempData["Error"].ToString();

    string message = null;
    if (TempData["Success"] != null)
        message = TempData["Success"].ToString();
}

<div class="container">
    <div class="row">
        <div class="col-10">
            @Html.CheckError(error)
            @Html.CheckSuccess(message)
            @foreach(HeadStyleViewModel style in Model)
            {
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            @style.Department.Name
                        </h5>
                        <p class="card-text">
                                @style.Style.Description
                        </p>
                        <a asp-controller="Styles" asp-action="EditStyle" asp-route-id="@style.Department.Id" class="btn btn-primary">Изменить</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>