@model DepartmentViewModel
@using VacationSystem.ViewModels

@{
    Layout = "_Common";

    ViewData["Title"] = "Информация о подразделении";
}

<div class="container">
    <div class="row">
        <div class="col-7">
        @if (@Model != null)
        {
            <h3>@Model.Name</h3>
            <hr />
            @if (@Model.Head != null)
            {
                <p>Руководитель:
                    <a href="~/Admin/Employee/@Model.Head.Id">
                        @Model.Head.LastName @Model.Head.FirstName @Model.Head.MiddleName
                    </a>
                </p>
            }
            @if (@Model.HeadDepartment != null)
            {
                <h5>Старшее подразделение: 
                    <a href="~/Admin/Department/@Model.HeadDepartment.Id">
                        @Model.HeadDepartment.Name
                    </a>
                </h5>
            }
            <a href="~/Admin/Employees/@Model.Id" class="btn btn-primary separate-top">
                Список сотрудников
            </a>
            @if (@Model.ChildDepartments.Count > 0)
            {
                <h5 class="separate-top">Младшие подразделения:</h5>
                @foreach(Department dep in @Model.ChildDepartments)
                {
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                @dep.Name
                            </h5>
                            <a href="~/Admin/Department/@dep.Id" class="btn btn-primary">
                                Просмотр подразделения
                            </a>
                        </div>
                    </div>
                }
            }
        }
        </div>
    </div>
</div>