@model EmployeesViewModel
@using VacationSystem.ViewModels
@using VacationSystem.Models

@{
    Layout = "_Common";

    ViewData["Title"] = "Список сотрудников";
}

<div class="container">
    <div class="row">
        <div class="col-10">
            <!--Вывод информации о сотрудниках, если они были найдены-->
            @if (@Model != null)
            {
                @* Нет подразделения - выводятся все сотрудники университета *@
                @if (@Model.Department == null)
                {
                    <h3>Все сотрудники</h3>
                    <hr />
                }
                @* Сотрудники одного подразделения *@
                else
                {
                    <h3>Сотрудники подразделения:
                        <a href="~/Admin/Department/@Model.Department.Id" class="green-link">
                            @Model.Department.Name
                        </a>
                    </h3>
                    <hr />
                }
                <!--Блок поиска-->
                <form>
                    <input type="text" name="query" />
                    <input type="submit" class="btn btn-primary separate-left-big" value="Поиск" />
                </form>
                @* Вывести список сотрудников *@
                @foreach (EmpDepViewModel emp in @Model.Employees)
                {
                    <div class="card">
                        <div class="card-body">
                            @* ФИО сотрудника в заголовке *@
                            <h5 class="card-title">
                                @emp.LastName @emp.FirstName @emp.MiddleName
                            </h5>
                            @* Должности данного сотрудника в подразделении *@
                            @if (@emp.Positions.Count > 0)
                            {
                                @if (@emp.Positions.Count == 1)
                                {
                                    <p>Должность: @emp.Positions[0].Name</p>
                                }
                                else
                                {
                                    <p>Должности: </p>
                                    @for(int i = 0; i < @emp.Positions.Count; i++)
                                    {
                                        @if(i == @emp.Positions.Count - 1)
                                        {
                                            <span>@emp.Positions[i].Name</span>
                                        }
                                        else
                                        {
                                            <span>@emp.Positions[i].Name, </span>
                                        }
                                    }
                                }
                            }
                            @* Кнопка для просмотра информации о сотруднике *@
                            <a href="~/Admin/Employee/@emp.Id" class="btn btn-primary">Просмотр сотрудника</a>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>