@using VacationSystem.Classes.Helpers;
@using VacationSystem.ViewModels.ListItems;

@{
    Layout = "_Common";

    ViewData["Title"] = "Создание правила для группы";

    List<GroupListItem> groups = ViewBag.Groups;
}

<div class="container">
    <div class="row">
        <div class="col-7">
            <h3>Добавить правило для группы</h3>
            <hr />
            <form method="post">
                <h4>Выберите подразделение</h4>
                <select id="department" name="department">
                    @foreach(var dep in @ViewBag.departments)
                    {
                        <option value="@dep.Id">@dep.Name</option>
                    }
                </select>
                <h4 class="separate-top-small">Тип правила:</h4>
                @foreach (var type in ViewBag.Types)
                {
                    <input name="type" type="radio" value="@type.Id">@type.Name
                }
                <h4 class="separate-top-small">Описание правила:</h4>
                <textarea name="description" maxlength="100"></textarea>
                <h4 class="separate-top-small">Период действия правила:</h4>
                <input name="startDate" type="date" id="date-edge-start" />
                <input name="endDate" type="date" id="date-edge-end" />
                <h4 class="separate-top-small">Выберите группу</h4>
                <select class="group-list" name="group">
                    @foreach (var group in groups)
                    {
                        <option value="@group.GroupId">@group.Name</option>
                    }
                </select>
                <input type="submit" class="btn btn-primary separated-button separate-top" value="Добавить" />
            </form>
        </div>
    </div>
</div>

@section scripts{
<script type="text/javascript">
    $(document).ready(function() {
        // установить пределы на граничные даты выбираемого периода
        var year = new Date().getFullYear();

        document.getElementById('date-edge-start').setAttribute("min", year + "-01-01");
        document.getElementById('date-edge-start').setAttribute("max", year + "-12-31");

        document.getElementById('date-edge-end').setAttribute("min", year + "-01-01");
        document.getElementById('date-edge-end').setAttribute("max", year + "-12-31");
    });

    $(function () {
        $('#department').change(function()
        {
            // получаем выбранный id
            var id = $(this).val();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetGroupItems")/' + id,
                success: function (data) {
                    // заменяем содержимое присланным частичным представлением
                    $('.group-list').replaceWith(data);
                }
            });
        });
    });
</script>
}