@model GroupRuleViewModel

@using VacationSystem.ViewModels;

@{
    Layout = "_Common";

    ViewData["Title"] = "Информация о правиле для группы";
}

<div class="container">
    <div class="row">
        <div class="col-7">
            <h3>@Model.Rule.Description</h3>
            <h4>Подразделение: @Model.Rule.Group.Department.Name</h4>
            <h4>Группа: @Model.Rule.Group.Name</h4>
            <h5>@Model.Rule.RuleType.Name</h5>
            <a asp-controller="Rules" asp-action="EditGroupRule" asp-route-ruleId="@Model.Rule.Id" class="btn btn-primary">
                Редактировать
            </a>
            <a asp-controller="Rules" asp-action="DeleteGroupRule" asp-route-ruleId="@Model.Rule.Id" class="btn btn-danger">
                Удалить
            </a>
            <h5>Сотрудники в правиле:</h5>
            @foreach(Employee emp in @Model.Employees)
            {
                <card>
                    <p>@emp.LastName @emp.FirstName @emp.MiddleName</p>
                </card>
            }
        </div>
    </div>
</div>