@model EmpRuleViewModel

@using VacationSystem.ViewModels;
@using VacationSystem.Classes.Helpers;

@{
    Layout = "_Common";

    ViewData["Title"] = "Информация о правиле для сотрудников";
}

<div class="container">
    <div class="row">
        <div class="col-7">
            <h3>Правило для сотрудников</h3>
            <hr />
            <h4>@Model.Rule.Description</h4>
            <h5>Подразделение: @Model.Rule.Department.Name</h5>
            <h5>Правило: @Model.Rule.RuleType.Name</h5>
            <a asp-controller="Rules" asp-action="EditEmpRule" asp-route-ruleId="@Model.Rule.Id" class="btn btn-primary">
                Редактировать
            </a>
            <a asp-controller="Rules" asp-action="DeleteEmpRule" asp-route-ruleId="@Model.Rule.Id" class="btn btn-danger separate-left-big">
                Удалить
            </a>
            <h5 class="separate-top-small">Сотрудники в правиле:</h5>
            @foreach(Employee emp in @Model.Employees)
            {
                <card>
                    <p>• @emp.LastName @emp.FirstName @emp.MiddleName</p>
                </card>
            }
        </div>
    </div>
</div>