@model PosRuleViewModel

@using VacationSystem.ViewModels;

@{
    Layout = "_Common";

    ViewData["Title"] = "Информация о правиле для должности";
}

<div class="container">
    <div class="row">
        <div class="col-7">
            <h3>Правило для должности</h3>
            <hr />
            <h4>@Model.Rule.Description</h4>
            <h4>Подразделение: @Model.Rule.Department.Name</h4>
            <h4>Должность: @Model.Position.Name</h4>
            <a asp-controller="Rules" asp-action="EditPosRule" asp-route-ruleId="@Model.Rule.Id" class="btn btn-primary">
                Редактировать
            </a>
            <a asp-controller="Rules" asp-action="DeletePosRule" asp-route-ruleId="@Model.Rule.Id" class="btn btn-danger">
                Удалить
            </a>
        </div>
    </div>
</div>