@using VacationSystem.Classes.Helpers;
@using VacationSystem.ViewModels.ListItems;

@{
    Layout = "_Common";

    ViewData["Title"] = "Создание группы";

    List<EmpListItem> employees = ViewBag.Employees;
}

<div class="container">
    <div class="row">
        <div class="col-7">
            <h3>Создать группу</h3>
            <hr />
            <form method="post">
                <h4>Выберите подразделение</h4>
                <select id="department" name="department">
                    @foreach(var dep in @ViewBag.departments)
                    {
                        <option value="@dep.Id">@dep.Name</option>
                    }
                </select>
                <h4>Название группы:</h4>
                <input type="text" name="name" />
                <h4>Описание группы:</h4>
                <textarea name="description" maxlength="500"></textarea>
                <h4>Выберите сотрудников</h4>
                <select multiple class="employee-group-list" name="employees" size="@employees.Count()">
                    @foreach (var emp in employees)
                    {
                        <option value="@emp.EmpId">@emp.Name</option>
                    }
                </select>
                <input type="submit" class="btn btn-primary" value="Добавить" />
            </form>
        </div>
    </div>
</div>

@section scripts{
<script type="text/javascript">
    $(function () {
        $('#department').change(function()
        {
            // получаем выбранный id
            var id = $(this).val();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetEmployeeItems")/' + id,
                success: function (data) {
                    // заменяем содержимое присланным частичным представлением
                    $('.employee-group-list').replaceWith(data);
                }
            });
        });
    });
</script>
}