@model List<GroupViewModel>

@using VacationSystem.ViewModels;

@{
    Layout = "_Common";

    ViewData["Title"] = "Список групп сотрудников";

    List<Department> departments = ViewBag.departments;
}

<div class="container">
    <div class="row">
        <div class="col-10">
            <h3>Список групп сотрудников</h3>
            <hr />
            <form>
                <label for="query">Подразделение</label>
                <select name="query">
                    @foreach(Department dep in departments)
                    {
                        <option value="@dep.Id">@dep.Name</option>
                    }
                </select>
                <input type="submit" class="btn btn-primary separate-left-big" value="Применить" />
            </form>
            <a asp-controller="Groups" asp-action="AddGroup" class="btn btn-primary separate-top">Добавить</a>
            <hr />
            @if(@Model.Count > 0)
            {
                <h4 class="separate-top">Группы</h4>
            }
            @foreach(GroupViewModel group in @Model)
            {
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            @group.Group.Name
                        </h5>
                        <h6 class="card-subtitle mb-2 text-muted">
                            @group.Department.Name
                        </h6>
                        <p class="card-text">
                            @group.Group.Description
                        </p>
                        <a asp-controller="Groups" asp-action="ViewGroup" asp-route-groupId="@group.Group.Id" class="btn btn-primary">Просмотр</a>
                        <a asp-controller="Groups" asp-action="EditGroup" asp-route-groupId="@group.Group.Id" class="btn btn-primary separate-left-big">Редактировать</a>
                        <a asp-controller="Groups" asp-action="DeleteGroup" asp-route-groupId="@group.Group.Id" class="btn btn-danger separate-left-big">Удалить</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>