@model GroupViewModel

@using VacationSystem.ViewModels;

@{
    Layout = "_Common";

    ViewData["Title"] = "Информация о группе сотрудников";
}

<div class="container">
    <div class="row">
        <div class="col-7">
            <h3>@Model.Group.Name</h3>
            <h4>Подразделение: @Model.Department.Name</h4>
            <h5>@Model.Group.Description</h5>
            <a asp-controller="Groups" asp-action="EditGroup" asp-route-groupId="@Model.Group.Id" class="btn btn-primary">
                Редактировать
            </a>
            <a asp-controller="Groups" asp-action="DeleteGroup" asp-route-groupId="@Model.Group.Id" class="btn btn-danger">
                Удалить
            </a>
            <h5>Сотрудники в группе:</h5>
            @foreach(Employee emp in @Model.Employees)
            {
                <card>
                    <p>@emp.LastName @emp.FirstName @emp.MiddleName</p>
                </card>
            }
        </div>
    </div>
</div>