@model List<VacationViewModel>

@using VacationSystem.HtmlHelpers;
@using VacationSystem.ViewModels;

@{
    ViewData["Title"] = "Отпуска";

    string error = null;
    if (TempData["Error"] != null)
        error = TempData["Error"].ToString();

    string message = null;
    if (TempData["Message"] != null)
        message = TempData["Message"].ToString();

    string success = null;
    if (TempData["Success"] != null)
        success = TempData["Success"].ToString();
}

<div class="container">
    <div class="row">
        <div class="col-10">
            @Html.CheckError(error)
            @Html.CheckMessage(message)
            @Html.CheckSuccess(success)
            <a asp-controller="Vacation" asp-action="AddVacation" class="btn btn-primary">Добавить</a>
            @if(@Model.Count > 0)
            {
                <h3>Список отпусков</h3>
            }
            @foreach(VacationViewModel vacation in @Model)
            {
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            @vacation.StartDate - @vacation.EndDate (@vacation.Days дней)
                        </h5>
                        <div class="card-text">
                            @vacation.Status
                        </div>
                        @if (vacation.Type == "wished")
                        {
                            <a asp-controller="Vacation" asp-action="EditWishedVacation" asp-route-empId="@vacation.EmpId" asp-route-vacationId="@vacation.Id" asp-route-type="@vacation.Type" class="btn btn-danger">Изменить</a>
                        }
                        else
                        {
                            <a asp-controller="Vacation" asp-action="Move" asp-route-groupId="@vacation.Id" asp-route-type="@vacation.Type" class="btn btn-primary">Перенести</a>
                            <a asp-controller="Vacation" asp-action="Split" asp-route-groupId="@vacation.Id" asp-route-type="@vacation.Type" class="btn btn-primary">Разделить</a>
                            <a asp-controller="Vacation" asp-action="Cancel" asp-route-groupId="@vacation.Id" asp-route-type="@vacation.Type" class="btn btn-danger">Отменить</a>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>