@model VacationIndexViewModel

@using VacationSystem.ViewModels;
@using VacationSystem.Classes.Helpers;

@{
    Layout = "_Common";

    ViewData["Title"] = "Отпуска: " + EmployeeHelper.GetFullName(@Model.Employee);
}

<div class="container">
    <div class="row">
        <div class="col-10">
            <a asp-controller="Vacation" asp-action="AddVacation" asp-route-empId="@Model.Employee.Id" class="btn btn-primary">Добавить</a>
            @if(@Model.Vacations.Count > 0)
            {
                <h3>Список отпусков</h3>
            }
            @foreach(VacationViewModel vacation in @Model.Vacations)
            {
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            @vacation.StartDate.ToString("yyyy-MM-dd") - @vacation.EndDate.ToString("yyyy-MM-dd") (@vacation.Days дней)
                        </h5>
                        <div class="card-text">
                            @vacation.Status
                        </div>
                        @if (vacation.Type == "wished")
                        {
                            <a asp-controller="Vacation" asp-action="EditWishedVacation" asp-route-empId="@vacation.EmpId" asp-route-vacationId="@vacation.Id" asp-route-type="@vacation.Type" class="btn btn-danger">Изменить</a>
                        }
                        else
                        {
                            <a asp-controller="Vacation" asp-action="Move" asp-route-groupId="@vacation.Id" asp-route-type="@vacation.Type" class="btn btn-primary">Перенести</a>
                            <a asp-controller="Vacation" asp-action="Split" asp-route-groupId="@vacation.Id" asp-route-type="@vacation.Type" class="btn btn-primary">Разделить</a>
                            <a asp-controller="Vacation" asp-action="Cancel" asp-route-groupId="@vacation.Id" asp-route-type="@vacation.Type" class="btn btn-danger">Отменить</a>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>