@model VacationIndexViewModel

@using VacationSystem.ViewModels;
@using VacationSystem.Classes.Helpers;
@using System.Linq;
@using System.Collections.Generic;

@{
    Layout = "_Common";

    ViewData["Title"] = "Отпуска: " + EmployeeHelper.GetFullName(@Model.Employee);
}

<div class="container">
    <div class="row">
        <div class="col-10">
            <h3>Отпуска сотрудника @EmployeeHelper.GetFullName(Model.Employee)</h3>
            <hr />
            <form class="form-filter">
                <input type="hidden" name="empId" value="@Model.Employee.Id" />
                <label>Тип отпусков:</label>
                @if (@Model.CurrentType == null)
                {
                    <input name="type" type="radio" value="wished" checked="checked" class="separate-left-small"/><span>Запланированные</span>
                    <input name="type" type="radio" value="set" /><span>Утвержденные</span>
                }
                else if (@Model.CurrentType == "set")
                {
                    <input name="type" type="radio" value="wished" class="separate-left-small" /><span>Запланированные</span>
                    <input name="type" type="radio" value="set" checked="checked"/><span>Утвержденные</span>
                }
                else
                {
                    <input name="type" type="radio" value="wished" checked="checked" class="separate-left-small"/><span>Запланированные</span>
                    <input name="type" type="radio" value="set" /><span>Утвержденные</span>
                }
                <label class="separate-left-big">Год:</label>
                <select id="vacation-year" name="year">
                    <option value="0">----</option>
                    @foreach(int year in @Model.Years)
                    {
                        if (@Model.CurrentYear == year)
                        {
                            <option value="@year" selected>@year</option>
                        }
                        else
                        {
                            <option value="@year">@year</option>
                        }
                    }
                </select>
                <input type="submit" class="btn btn-primary separate-left-big" value="Применить" />
            </form>
            <h5 class="separate-top">Количество дней для данного года: @Model.AvailableDays</h5>
            @if (@Model.AvailableDays > 0)
            {
                <a id="add-vacation" asp-controller="Vacation" asp-action="AddVacation" asp-route-empId="@Model.Employee.Id" asp-route-year="@(Model.CurrentYear + 1)" class="btn btn-primary">Добавить</a>
            }
            else
            {
                <a href="#" class="btn btn-secondary" role="button" aria-disabled="true">Добавить</a>
            }
            <hr />
            @if(@Model.Vacations.Count > 0)
            {
                <h4>Список отпусков</h4>
            }
            @* Вывод запланированных отпусков *@
            @{
                List<int> ids = Model.Vacations.Where(v => v.Type == "wished").Select(v => v.Id).Distinct().ToList();
                foreach (int id in ids)
                {
                    <div class="vacation-item">
                    @foreach(VacationViewModel vacation in Model.Vacations.Where(v => v.Id == id && v.Type == "wished").ToList())
                    {
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">
                                    @vacation.StartDate.ToString("yyyy-MM-dd") - @vacation.EndDate.ToString("yyyy-MM-dd") (@vacation.Days дней)
                                </h5>
                                <div class="card-text">
                                    @vacation.Status
                                </div>
                            </div>
                        </div>
                    }
                    @{
                        VacationViewModel vac = @Model.Vacations.FirstOrDefault(v => v.Id == id);
                        <a asp-controller="Vacation" asp-action="EditWishedVacation" asp-route-empId="@vac.EmpId" asp-route-vacationId="@vac.Id" asp-route-year="@vac.Year" class="btn btn-primary">Изменить</a>
                        <a asp-controller="Vacation" asp-action="DeleteWishedVacation" asp-route-vacationId="@vac.Id" class="btn btn-danger separate-left-big">Удалить</a>
                    }
                    </div>
                }
            }
            @* Вывод утвержденных отпусков *@
            @{
                List<VacationViewModel> vacations = Model.Vacations.Where(v => v.Type == "set").ToList();

                foreach(VacationViewModel vacation in vacations)
                {
                    <div class="vacation-item">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">
                                    @vacation.StartDate.ToString("yyyy-MM-dd") - @vacation.EndDate.ToString("yyyy-MM-dd") (@vacation.Days дней)
                                </h5>
                                <div class="card-text">
                                    @vacation.Status
                                </div>
                            </div>
                        </div>
                        @if (@Model.IsHead)
                        {
                            <a asp-controller="Vacation" asp-action="Interrupt" asp-route-vacationId="@vacation.Id" class="btn btn-primary">Прервать</a>
                            <a asp-controller="Vacation" asp-action="Cancel" asp-route-vacationId="@vacation.Id" class="btn btn-danger separate-left-big">Отменить</a>
                            <a asp-controller="Vacation" asp-action="EditSetVacation" asp-route-vacationId="@vacation.Id" asp-route-empId="@vacation.EmpId" class="btn btn-primary separate-left-big">Перенести</a>
                        }
                        else
                        {
                            <a asp-controller="Vacation" asp-action="VacationRequest" asp-route-empId="@Model.Employee.Id" asp-route-vacationId="@vacation.Id" class="btn btn-primary">Перенести</a>
                        }
                    </div>
                }
            }
        </div>
    </div>
</div>

@section scripts {
<script type="text/javascript">
</script>
}