@model CalendarViewModel

@using VacationSystem.ViewModels;
@using VacationSystem.HtmlHelpers;

<div class="container">
    <div class="row">
        <div class="col-12">
            <h3>Производственный календарь подразделения "@Model.Department.Name"</h3>
            <form>
                <label>Год</label>
                <input id="calendar-year" type="number" name="year" value="@Model.Year" />
                <label>Период</label>
                <input type="date" name="startDate" value="@Model.StartDate.ToString("yyyy-MM-dd")"/>
                <input type="date" name="endDate" value="@Model.EndDate.ToString("yyyy-MM-dd")"/>
                <label>Тип отпусков:</label>
                <input type="radio" name="type" value="wished" checked="checked"/>
                <span>Запланированные</span>
                <input type="radio" name="type" value="set" />
                <span>Утвержденные</span>
                <input type="submit" class="btn btn-primary" value="Выбрать" />
            </form>
            <table id="vacation-calendar" class="table table-sm table-responsive table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">ФИО</th>
                        @foreach (EmpVacationPeriodViewModel period in @Model.Vacations[0].Vacations)
                        {
                            <th scope="col">@period.Date</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (EmpVacationViewModel emp in @Model.Vacations)
                    {
                        <tr id="@emp.EmployeeId">
                            <td scope="row">@emp.Name</td>
                            @foreach (EmpVacationPeriodViewModel period in @emp.Vacations)
                            {
                                @if (period.IsTaken)
                                {
                                    <td class="table-success"></td>
                                }
                                else
                                {
                                    <td class="table-secondary"></td>
                                }
                            }
                        </tr>
                    }
                </tbody>
            </table>
            <button type="button" id="submit-button" class="btn btn-primary">Утвердить</button>
        </div>
    </div>
</div>

@section scripts{
<script type="text/javascript">
    $(document).on('change', '#calendar-year', function() {
        $.ajax({
            type: "GET",
            url: '@Url.Action("Department")',
            success: function () { }
        });
    });

    $(document).on('click', '#submit-button', function() {
        $.ajax({
            type: "POST",
            data: {
                
            },
            url: '@Url.Action("SetVacation")',
            success: function () { }
        });
    });
</script>
}