@model CalendarViewModel

@using VacationSystem.ViewModels;

@{
    Layout = "_Common";

    ViewData["Title"] = "Календарь отпусков";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h3>Производственный календарь подразделения "@Model.Department.Name"</h3>
            <form>
                <label>Год</label>
                <input id="calendar-year" type="number" name="year" value="@Model.Year" />
                <label>Период</label>
                <input type="date" name="startDate" id="start-date" value="@Model.StartDate.ToString("yyyy-MM-dd")"/>
                <input type="date" name="endDate" id="end-date" value="@Model.EndDate.ToString("yyyy-MM-dd")"/>
                <label>Тип отпусков:</label>
                <input type="radio" name="type" value="wished" checked="checked"/>
                <span>Запланированные</span>
                <input type="radio" name="type" value="set" />
                <span>Утвержденные</span>
                <input type="submit" class="btn btn-primary" value="Выбрать" />
            </form>
            <table id="vacation-calendar" class="table table-sm table-responsive table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">ФИО</th>
                        @foreach (EmpVacationPeriodViewModel period in @Model.Vacations[0].Vacations)
                        {
                            <th scope="col" class="calendar-date">
                                @period.Date
                            </th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (EmpVacationViewModel emp in @Model.Vacations)
                    {
                        <tr id="@emp.EmployeeId">
                            <td scope="row">
                                <a asp-action="Index" asp-controller="Vacation" asp-route-empId="@emp.EmployeeId">
                                    @emp.Name
                                </a> 
                            </td>
                            @foreach (EmpVacationPeriodViewModel period in @emp.Vacations)
                            {
                                @if (period.IsTaken)
                                {
                                    <td class="table-success"></td>
                                }
                                else
                                {
                                    <td class="table-secondary"></td>
                                }
                            }
                        </tr>
                    }
                </tbody>
            </table>
            <button type="button" id="submit-button" class="btn btn-primary">Утвердить</button>
            <button type="button" id="clear-button" class="btn btn-danger">Очистить</button>
            <button type="button" id="call-popup" class="btn btn-primary">Тест</button>
        </div>
    </div>
</div>

@section scripts{
<script type="text/javascript">
    /* Отображение всплывающего сообщения с предупреждениями */
    $(document).on('click', '#call-popup', function() {
        // получить результат проверки отпусков
        $.ajax({
            type: "POST",
            cache: false,
            data: {
                "depId": "@Model.Department.Id",
                "year": "@Model.Year"
            },
            url: '@Url.Action("CheckVacations", "Calendar")',
            success: function (data) {
                console.log(data);

                if (data.warnings.length == 0)
                    showSuccessPopup();
                else
                    showWarningsPopup(data);
            },
            error: function (data) {
                console.log(data);
            }
        });
    });

    /* Показать сообщение об успешном прохождении проверки правил */
    function showSuccessPopup() {
        let popup = $('.popup-window');
        popup.empty();
        popup.append('<div class="alert alert-success">Выбранные отпуска соответствуют всем правилам</div>');
        popup.append('<button type="button" class="btn btn-primary" id="hide-popup">Скрыть</button>');
        $('.popup-window').css('display', 'block');
    }

    /* Показать сообщение с полученными предупреждениями */
    function showWarningsPopup(data) {
        let popup = $('.popup-window');
        popup.empty();

        // перебрать предупреждения
        data.warnings.forEach(function(item, i, data) {
            if (item.type == 'emp')
            {
                // создать ссылку на правило
                let link = '@Html.ActionLink("[[description]]", "ViewEmpRule", "Rules", new { ruleId = "ident" })';
                link = link.replace("[[description]]", item.description);
                link = link.replace("ident", item.ruleId);
                
                popup.append('<div class="alert alert-danger">' + link + '<p>' + item.ruleDescription + '</p>' + '</div>');
            }
        });

        popup.append('<button type="button" class="btn btn-primary" id="hide-popup">Скрыть</button>');
        $('.popup-window').css('display', 'block');
    }

    $(document).on('click', '#hide-popup', function() {
        $('.popup-window').css('display', 'none');
    });

    /* Изменение года календаря */
    $(document).on('change', '#calendar-year', function() {
        // выбранный пользователем год
        let year = $('#calendar-year').val();

        // поменять граничные даты в соответствии с выбранным годом
        $('#start-date').val(year + '-' + '01' + '-' + '01');
        $('#end-date').val(year + '-' + '12' + '-' + '31');
    });

    /* Утверждение отпусков */
    $(document).on('click', '#submit-button', function() {
        $.ajax({
            type: "POST",
            data: {
                "id": "@Model.Department.Id",
                "year": "@Model.Year"
            },
            url: '@Url.Action("SetVacation")',
            success: function (response) {
                window.location.href = response.redirectToUrl;
            }
        });
    });

    /* Отладочная кнопка для удаления всех утвержденных отпусков */
    $(document).on('click', '#clear-button', function() {
        $.ajax({
            type: "POST",
            data: {
                "id": "@Model.Department.Id",
                "year": "@Model.Year"
            },
            url: '@Url.Action("ClearSetVacations")',
            success: function (response) {
                window.location.href = response.redirectToUrl;
            }
        });
    });
</script>
}